.dropzone, .dropzone * {
    box-sizing: border-box;
}

.dropzone {
    border: 2px dashed #ced4da;
    background: #fff;
    border-radius: 6px;
    cursor: pointer;
    min-height: 150px;
    padding: 20px;
    box-shadow: none;
}

.dropzone.dz-clickable {
    cursor: pointer;
}

.dropzone.dz-clickable .dz-message, .dropzone.dz-clickable .dz-message * {
    cursor: pointer;
}

.dropzone .dz-message {
    text-align: center;
    margin: 2rem 0;
}

.fallback{
    display: none;
}
